
div {
	margin: center;
}
	
#padre {
	
	padding: 30px 10px 10px 50px;
	background-color: #ffb273; 
	width: 500;
	height: 80;
	border-top: 10px;
	border-right: 5px;
	border-bottom: 10px;
	border-left: 5px;
	border-color: #8904B1;
	border-style: solid;

}

#hijo {
	width: 330;
	height: 20;
	padding: 10px 80px;
	margin: center;
	border: 2px dashed green;
	background: white;
}

